affine==2.3.0
attrs==19.3.0
certifi==2020.6.20
chardet==3.0.4
click==7.1.2
click-plugins==1.1.1
cligj==0.5.0
country-bounding-boxes==0.2.3
cycler==0.10.0
Fiona==1.8.9.post2
GDAL==2.4.2
geographiclib==1.50
geopandas @ file:///home/conda/feedstock_root/build_artifacts/geopandas_1593010520528/work
geopy==2.0.0
googlemaps==4.4.2
googletrans==3.0.0
h11==0.9.0
h2==3.2.0
hpack==3.0.0
hstspreload==2020.8.5
httpcore==0.9.1
httpx==0.13.3
hyperframe==5.2.0
idna==2.10
iso3166==1.0.1
joblib @ file:///home/conda/feedstock_root/build_artifacts/joblib_1593624380152/work
kiwisolver==1.2.0
matplotlib @ file:///D:/bld/matplotlib-base_1594091882257/work
mkl-service==2.3.0
munch==2.5.0
numpy @ file:///D:/bld/numpy_1591485433275/work
olefile==0.46
overpy==0.4
pandas @ file:///D:/bld/pandas_1592422178599/work
Pillow @ file:///C:/ci/pillow_1594298234712/work
pyparsing==2.4.7
pyproj==2.3.1
python-dateutil==2.8.1
pytz==2020.1
PyYAML==5.3.1
rasterio==1.0.28
rasterstats==0.15.0
requests==2.24.0
rfc3986==1.4.0
Rtree==0.9.4
scikit-learn @ file:///C:/ci/scikit-learn_1592847564598/work
scipy @ file:///C:/ci/scipy_1592916958183/work
seaborn==0.10.1
selenium==3.141.0
Shapely==1.6.4.post2
simplejson==3.17.2
six @ file:///home/conda/feedstock_root/build_artifacts/six_1590081179328/work
sniffio==1.1.0
snuggs==1.4.7
threadpoolctl @ file:///tmp/tmp79xdzxkt/threadpoolctl-2.1.0-py3-none-any.whl
tornado==6.0.4
tqdm @ file:///tmp/build/80754af9/tqdm_1593446365756/work
urllib3==1.25.9
wincertstore==0.2
xlrd==1.2.0
